.countries{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

}
@media screen and (min-with: 768px){
    .countries{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-with: 992px){
    .countries{
        grid-template-columns: repeat(3, 1fr);
    }
}